.idea/
auth.json
/vendor/
/composer.lock
/var/
/app/etc/
/app/.htaccess
/app/autoload.php
/app/bootstrap.php
/.editorconfig
/.htaccess
/.user.ini
/.htaccess.sample
/.php-cs-fixer.dist.php
/auth.json.sample
/CHANGELOG.md
/COPYING.txt
/LICENSE_AFL.txt
/Gruntfile.js.sample
/LICENSE.txt
/SECURITY.md
/bin/
/dev/
/generated/
/lib/
/phpserver/
/pub/
/setup/
/nginx.conf.sample
/package.json.sample
/grunt-config.json.sample
